<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div class="nav" th:fragment="navbar">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <span th:text="${session.user.nickname}" th:remove="tag">
        </div>
    </div>
    <div th:switch="${session.user.isadmin}" th:remove="tag">
        <div class="nav-links" th:case="1">
            <a th:href="@{/usuarioslistar}">USUARIOS</a>
            <a th:href="@{/productoslistar}">PRODUCTOS</a>
            <a th:href="@{/logout}" >Cerrar Sesion</a>
        </div>
        <div class="nav-links" th:case="0">
            <a th:href="@{/productoslistar}">BUSCAR PRODUCTOS</a>
            <a th:href="@{/misproductos}" >MIS PRODUCTOS</a>
            <a th:href="@{/historial}" >HISTORIAL</a>
            <a th:href="@{/logout}" >Cerrar Sesion</a>
        </div>
    </div>
</div>
</body>
</html>