<!DOCTYPE html>
<html lang="es-ES" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/productCard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/botones.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/formulario.css}">
    <title>Editar Producto - E-Buy</title>
</head>
<body>
<!-- BARRA NAVEGACION -->
<div class="nav" th:replace="navbars.html :: navbar"></div>



<form th:action="@{/guardarproducto}" method="post">
    <input type="hidden" name="productId" th:value="${productId}" />
    <table>
        <tr>
            <td>T&iacute;tulo:</td>
            <td colspan="2"><input type="text" name="title" th:value="${title}" size="50" max="50" maxlength="50" /></td>
        </tr>
        <tr>
            <td>Descripci&oacute;n:</td>
            <td colspan="2"><textarea name="description" th:value="${description}" th:text="${description}" rows="10" cols="50" maxlength="1020"/></td>
        </tr>
        <tr>
            <td>Precio:</td>
            <td colspan="2"><input type="text" name="price" th:value="${price}" size="50" max="50" maxlength="52" /></td>
        </tr>
        <tr>
            <td>Foto(URL):</td>
            <td colspan="2"><input type="text" name="urlPhoto" th:value="${photoUrl}" size="50" max="50" maxlength="510" /></td>
        </tr>
        <tr>
            <td>Cantidad:</td>
            <td colspan="2"><input type="text" name="quantity" th:value="${quantity}" size="10" max="10" maxlength="10" /></td>
        </tr>
        <tr>
            <!--   <div class="autocomplete" style="width:300px;">-->
            <td>Palabras claves:</td>
            <td><input list="nuevaPalabras" id="nuevaPalabra" type="text" style="width: 120px" size="30" max="30" maxlength="30"  name="nuevaPalabra" placeholder="Palabra Claves" >
                <datalist id="nuevaPalabras">
                    <div th:remove="tag" th:each="k: ${listKeyword}">
                        <option th:value="${k.getName()}"></option>
                    </div>
                </datalist> <input style="margin-left:5px" type="button" onclick="añadir()" class="boton" id="btn-añadir" value="Añadir">
            </td>
            <td>
                <div class="junto" style="margin-left:0px;width:100%;height:100%;max-height:123.8px;overflow-y:scroll"><ul style="min-width:170px;min-height:123.8px;" class="lista" id="lista">

                    <div th:remove="tag" th:each="key: ${keywordProduct}">
                        <li th:id="{key.getName()}" th:text="${key.getName()}"><span onclick='eliminar(this)'> Eliminar</span></li>
                    </div>
                </ul> </div></td>

            <input type="hidden" id="listaOculta" name="listaOculta" value="TODO quitar logica de negocio" />

            <input type="hidden" id="autoayuda" name="autoayuda" value="TODO quitar logica de negocio" />

            <script>

                function añadir()
                {
                    var nuevoLi = document.getElementById("nuevaPalabra").value;
                    var oculto = document.getElementById("listaOculta");
                    if (nuevoLi.length > 0)
                    {
                        if (find_li(nuevoLi))
                        {
                            var li = document.createElement('li');
                            li.id = nuevoLi;
                            oculto.value += nuevoLi +",";
                            li.innerHTML = nuevoLi + "<span onclick='eliminar(this)'> Eliminar</span>";
                            document.getElementById("lista").appendChild(li);
                        }
                    }
                    return false;
                }
                function find_li(contenido)
                {
                    var el = document.getElementById("lista").getElementsByTagName("li");
                    for (var i = 0; i < el.length; i++)
                    {
                        if (el[i].id === contenido)
                            return false;
                    }
                    return true;
                }
                function eliminar(elemento)
                {
                    var id = elemento.parentNode.getAttribute("id");
                    node = document.getElementById(id); //Obtengo el li
                    node.parentNode.removeChild(node);
                }
                /*An array containing all the country names in the world:*/
                const espacio = document.getElementById("nuevaPalabra");
                espacio.addEventListener("keyup", ayudar);
                function ayudar() {
                    var ayuda = document.getElementById("autoayuda").value;
                    ayuda = ayuda.split(",");
                    var removed = ayuda.splice(ayuda.length - 1, 1);
                    console.log(ayuda);
                    const buscador = document.getElementById("browsers");
                    while (buscador.firstChild) {
                        buscador.removeChild(buscador.firstChild);
                        console.log("estoy borrando");
                    }
                    for (var i = 0; i < ayuda.length; i++) {
                        var option = document.createElement("option");
                        option.value = ayuda[i];
                        console.log("Estoy en el bucle for");
                        buscador.appendChild(option);
                    }
                }
            </script>
        </tr>
        <tr>
            <td>Categor&iacute;a:</td>
            <td colspan="2">
                <select name="categoria">
                    <div th:remove="tag" th:each="cat: ${listCategory}">
                        <option th:if="${category != null && category.getName().equalsIgnoreCase(cat.getName())}" th:value="${cat.getCategoryId()}" th:text="${cat.getName()}"/>
                        <option th:unless="${category != null && category.getName().equalsIgnoreCase(cat.getName())}" th:value="${cat.getCategoryId()}" th:text="${cat.getName()}"/>
                    </div>
                </select>

            </td>
        </tr>

        <td>Subcategor&iacute;a:</td>
        <td colspan="2">
            <select name="subcategoria">
                <div th:remove="tag" th:each="sub: ${listSubcategory}">
                    <option th:if="${subcategory != null && subcategory.getName().equalsIgnoreCase(sub.getName())}" selected th:value="${sub.getSubcategoryId()}" th:text="${sub.getName()}"/>
                    <option th:unless="${subcategory != null && subcategory.getName().equalsIgnoreCase(sub.getName())}" selected th:value="${sub.getSubcategoryId()}" th:text="${sub.getName()}"/>
                </div>
            </select>
        </td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Enviar" name="Enviar"/></td>
        </tr>
    </table>
    <input type="hidden" id="pSub" name="pSub" th:value="${resultado}" />
</form>
<!--<script>-->
<!--    const categoria = document.getElementsByName("categoria")[0];-->
<!--    categoria.addEventListener("change", funtionCambio);-->
<!--    function funtionCambio() {-->
<!--        const subcategoria = document.getElementsByName("subcategoria")[0];-->
<!--        var tamaño = subcategoria.options.length;-->
<!--        for (var i = tamaño; i >= 0; i&#45;&#45;) {-->
<!--            subcategoria.remove(i);-->
<!--        }-->
<!--        var seleccionada = categoria.value;-->
<!--        var datos = document.getElementById("pSub").value.split("C:");-->
<!--        for (var i = 1; i < datos.length; i++) {-->
<!--            var subDatos = datos[i].split("S:");-->
<!--            if (subDatos[0] === seleccionada) {-->
<!--                for (var j = 1; j < subDatos.length; j++) {-->
<!--                    const option = document.createElement('option');-->
<!--                    var total = subDatos[j].split("/");-->
<!--                    var text = total[1];-->
<!--                    var value = total[0];-->
<!--                    option.value = value-->
<!--                    option.text = text;-->
<!--                    subcategoria.appendChild(option);-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->
<script th:src="@{js/addElements.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>